.texto-blanco {
  color: white;
}

.sticky-header {
  top: 0 !important;
  background-color: #f8f9fa; /* Color de fondo del header */
  z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
  width: 100%;
}

.headerTitle {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .headerTitle {
    gap: .75em
  }
}

header {
  background-color: var(--color-base-3-1);
  width: 100% !important;
}

footer {
  background-color: var(--color-base-3-1);
  width: 100% !important;
}

footer > * {
    color: white;
}

.nav-link:active {
  color: var(--color-acento-3-1) !important;
}

.nav-link:hover {
  color: var(--color-acento-1-4) !important;
  background-color: var(--color-domin-1-2);
  border-radius: 10%;
}

.nav-link:focus {
  color: var(--color-acento-4-1);
}

.link-secondary {
  color: var(--color-acento-1-2) !important;
}

.red-b {
  background-color: var(--color-domin-1-1) !important;
  color: white !important;
}

.red-b:hover {
  background-color: var(--color-domin-1-5) !important;
  color: white !important;
  transition: all 0.25s !important;
}
