@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");

:root {
  font-family: 'Oswald', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: linear-gradient(135deg, rgb(233, 233, 233), rgb(179, 189, 198));
  background-attachment: fixed;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-base-1-1: #E9E9E9;
  --color-base-1-2: #DCDCDC;
  --color-base-1-3: #BDBDBD;
  --color-base-1-4: #989898;
  --color-base-1-5: #7C7C7C;

  --color-base-2-1: #5D6D7E;
  --color-base-2-2: #6B7C8C;
  --color-base-2-3: #8999A7;
  --color-base-2-4: #B3BDC6;
  --color-base-2-5: #D6DBE1;

  --color-base-3-1: #333333;
  --color-base-3-2: #454545;
  --color-base-3-3: #4F4F4F;
  --color-base-3-4: #5D5D5D;
  --color-base-3-5: #6D6D6D;

  --color-domin-1-1: #9A0000;
  --color-domin-1-2: #BE0000;
  --color-domin-1-3: #E70000;
  --color-domin-1-4: #FF0000;
  --color-domin-1-5: #FF1111;

  --color-domin-2-1: #B90504;
  --color-domin-2-2: #D60100;
  --color-domin-2-3: #FD0605;
  --color-domin-2-4: #FF2625;
  --color-domin-2-5: #FF5958;

  --color-domin-3-1: #7B241C;

  --color-acento-1-1: #D35400;
  --color-acento-1-2: #F96E00;
  --color-acento-1-3: #FF8B07;
  --color-acento-1-4: #FFA72F;
  --color-acento-1-5: #FFCA6B;

  --color-acento-2-1: #004D73;
  --color-acento-2-2: #006394;
  --color-acento-2-3: #0076B4;
  --color-acento-2-4: #0094DF;
  --color-acento-2-5: #00B8FF;

  --color-acento-3-1: #3CB371;
  --color-acento-4-1: #FFC300;
}

#admin{
  width: 100%;
}

.btn-confirm{
  background-color: var(--color-acento-3-1);
}

.btn-cancel{
  background-color: var(--color-domin-1-5);
}

.btn-deny{
  background-color: var(--color-acento-2-3);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.my-spinner{
  width: 40px;
  height: 40px;
  border: solid 6px var(--color-domin-2-1);
  border-radius: 50%;
  border-top-color: transparent;
  border-bottom-color: transparent;
  animation: spin 1s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg), scale(1.2);
  }

  100% {
    transform: rotate(360deg);
  }
}

.quitarScroll{
  scrollbar-width: none;  /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer y Edge */
}

.quitarScroll::-webkit-scrollbar {
  display: none;  /* Chrome, Safari y Edge */
}