@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");

:root {
  font-family: "Oswald", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: linear-gradient(
    135deg,
    rgb(233, 233, 233),
    rgb(179, 189, 198)
  );
  background-attachment: fixed;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-base-1-1: #e9e9e9;
  --color-base-1-2: #dcdcdc;
  --color-base-1-3: #bdbdbd;
  --color-base-1-4: #989898;
  --color-base-1-5: #7c7c7c;

  --color-base-2-1: #5d6d7e;
  --color-base-2-2: #6b7c8c;
  --color-base-2-3: #8999a7;
  --color-base-2-4: #b3bdc6;
  --color-base-2-5: #d6dbe1;

  --color-base-3-1: #333333;
  --color-base-3-2: #454545;
  --color-base-3-3: #4f4f4f;
  --color-base-3-4: #5d5d5d;
  --color-base-3-5: #6d6d6d;

  --color-domin-1-1: #9a0000;
  --color-domin-1-2: #be0000;
  --color-domin-1-3: #e70000;
  --color-domin-1-4: #ff0000;
  --color-domin-1-5: #ff1111;

  --color-domin-2-1: #b90504;
  --color-domin-2-2: #d60100;
  --color-domin-2-3: #fd0605;
  --color-domin-2-4: #ff2625;
  --color-domin-2-5: #ff5958;

  --color-domin-3-1: #7b241c;

  --color-acento-1-1: #d35400;
  --color-acento-1-2: #f96e00;
  --color-acento-1-3: #ff8b07;
  --color-acento-1-4: #ffa72f;
  --color-acento-1-5: #ffca6b;

  --color-acento-2-1: #004d73;
  --color-acento-2-2: #006394;
  --color-acento-2-3: #0076b4;
  --color-acento-2-4: #0094df;
  --color-acento-2-5: #00b8ff;

  --color-acento-3-1: #3cb371;
  --color-acento-4-1: #ffc300;
}

#admin {
  width: 100%;
}

.btn-confirm {
  background-color: var(--color-acento-3-1);
}

.btn-cancel {
  background-color: var(--color-domin-1-5);
}

.btn-deny {
  background-color: var(--color-acento-2-3);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: auto;
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.my-spinner {
  width: 40px;
  height: 40px;
  border: solid 6px var(--color-domin-2-1);
  border-radius: 50%;
  border-top-color: transparent;
  border-bottom-color: transparent;
  animation: spin 1s infinite;
}

.my-spinner-sm {
  width: 20px;
  height: 20px;
  border: solid 3px var(--color-base-1-1);
  border-radius: 50%;
  border-top-color: transparent;
  border-bottom-color: transparent;
  animation: spin 1s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg), scale(1.2);
  }

  100% {
    transform: rotate(360deg);
  }
}

.quitarScroll {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer y Edge */
}

.quitarScroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari y Edge */
}
